
```{=html}
<ul class="pub-list list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <span style="color:orange;font-weight:bold"><%= item.title %></span> <span style="font-family:Verdana,sans-serif;"><%= item.author %></span> <span style="font-family:Verdana,sans-serif;font-style:italic;"><%= item.publication %></span>
    <span style="font-weight:bold">(<%= item.year %>)</span> 
    <% if (item.doi) { %>
    <a href="<%- item.doi %>" target="_blank" rel="noopener noreferrer">
      DOI
    </a>
    <% } %>
  </li>
<% } %>
</ul>

```
